<div class="authorization-service-demo" flex layout="column">
  <section layout="row" layout-align="end">
    <tang-inline-profile-component
      [user]="visitor"
      [signInState]="signInState"
      (signOut)="onSignOut()"
    ></tang-inline-profile-component>
    <tang-inline-login-form-component
      [signInState]="signInState"
      (signIn)="onSignIn($event)"
      (signUp)="onSignUp($event)"
    ></tang-inline-login-form-component>
  </section>

  <section *ngIf="visitor && visitorRoles && visitorGrantedPermissions && visitorEffectivePermissions " layout="row"
           layout-align="center space-between" flex>
    <p-dataTable [value]="visitorTableValues">
      <p-column *ngFor="let col of visitorTableColumns" [field]="col.field" [header]="col.header"></p-column>
    </p-dataTable>
    <p-dataTable [value]="visitorRoles">
      <header>Roles</header>
      <p-column field="$key" header="Key"></p-column>
      <p-column field="description" header="Description"></p-column>
    </p-dataTable>
    <p-dataTable [value]="visitorGrantedPermissions">
      <header>Granted Permissions</header>
      <p-column field="$key" header="Key"></p-column>
      <p-column field="description" header="Description"></p-column>
    </p-dataTable>
    <p-dataTable [value]="visitorEffectivePermissions">
      <header>Effective Permissions</header>
      <p-column field="$key" header="Key"></p-column>
      <p-column field="description" header="Description"></p-column>
    </p-dataTable>
  </section>

  <section *ngIf="!visitor" layout="column" layout-align="start start">
    <h3>No visitor present: {{visitor == null}}</h3>
  </section>


</div>
