@mixin tanj-material_hacks-theme($theme) {
  /**
  * @hack ggranum: The md-select label is not aligned with the md-input labels
  */
  .tanj-select-input {
    padding-top: 9px;
  }

  /**
   @hack ggranum: The following centers the dialog body on the page when the page is narrow.
    */
  md-dialog-container.mat-dialog-container {
    margin-left: auto;
    margin-right: auto;
  }

  .mat-slide-toggle {
    margin: 0;
  }

  md-checkbox {
    margin: 16px 0;
    label {
      @include tanj-input-label($theme);
    }
  }

  .mat-slide-toggle-content {
    @include tanj-input-label($theme);
  }

  md-chip-list:focus {
    outline: none;
  }

  md-chip:focus {
    outline: none;
  }

  /* Need to increase specificity or the default 'flex' wins. */
  body [flex="grow"] {
    flex: 1 0 auto;
  }

  /**
   * I really hate doing this, but the Material Design team doesn't really seem to care about the address bar
   * hiding on mobile.
   */
  md-dialog-container.mat-dialog-container {
    overflow: hidden;
    padding: 0;
  }

  .cdk-focus-trap-content {
    height: 100%;
  }
}
