@mixin tanj-accordion-theme($theme) {

  $background : map-get($theme, background);

  .tanj-nested-accordion-parent {
    margin-bottom : 0;
    .tanj-item-header-container {
    }
    .tanj-item-content {
      padding : 0 0 0 1em;
    }
  }

  tanj-accordion {

    margin-bottom : 20px;

    tanj-accordion-item {
      margin-bottom    : 0;
      border-radius    : 4px;
      background-color : #fff;
      border           : 1px solid #ddd;
      box-shadow       : 0 1px 1px rgba(0, 0, 0, .05);
      width            : 100%;
    }

    .tanj-item-header-container {
      color                   : #333;
      background-color        : map-get($background, background);
      border-color            : #ddd;
      border-bottom           : 0;
      padding                 : 10px 15px;
      border-bottom           : 1px solid transparent;
      border-top-left-radius  : 3px;
      border-top-right-radius : 3px;
    }

    .tanj-item-content {
      border-top : 1px solid #ddd;
      padding    : 15px;
      overflow   : hidden;
    }
  }

}
