@mixin tanj-capture-edit-theme($theme) {
  $warn : mat-color(map-get($theme, warn));
  $accent_300 : mat-color(map-get($theme, accent), 300);
  $accent_900 : mat-color(map-get($theme, accent), 900);
  $accent_500 : mat-color(map-get($theme, accent), 500);
  $subText : mat-color(map-get($theme, primary), 50);

  .tanj-capture-edit-button-menu.mat-menu-panel {
    padding-left : 1em;
    margin-right : 1em;
    .tanj-delete {
      margin-right : 1em;
      color        : $warn;
    }

    .tanj-edit {
      //margin-right: 1em;
    }
  }
}
