@import '../../node_modules/@angular/material/core/theming/all-theme';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

html {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  min-height:100%;
  min-width:100%;
  padding:0;
  margin:0;

  app {
    min-height:100%;
    min-width:100%;
  }

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .tg-demo-content {
    padding: 16px;
  }

  md-toolbar {
    md-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }
}


.tg-debug-blue {
  border: 1px solid blue;
}

.tg-debug-green {
  border: 1px solid green;
}

.tg-debug-red {
  border: 1px solid red;
}

.tg-debug-purple {
  border: 1px solid purple;
}
