@import '~@angular/material/theming';
@import './app';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include themed styles for core and each angular-material component used in the app.
@include angular-material-theme($theme);

// Include apply your theme to the components in your app:
//@include apply-theme-to-app($theme)


