<tanj-page-body>
  <div class="tanj-page-content-wrapper">
    <div class="tanj-page-content">
      <h1>Privacy Policy</h1>
      <p>Geoff M. Granum/Tangential hosts tangential-a8ee8.firebaseapp.com, https://tangential-dev.firebaseapp.com/home
        and tangential-test.firebaseapp.com.
        This incredibly tedious document exists to inform you of our policies regarding the collection,
        use and disclosure of your Personal Information that we intentionally or incidentally collect in the operations
        of these sites</p>

      <p>By using the Site, you agree to the collection and use of information in accordance with this policy.</p>

      <h2>This Notice is required by law, and by license agreement</h2>
      <p>Other than this section, this privacy agreement is intended to cover ONLY the collection of data by the sites
        declared in the first paragraph. Tangential does not, and cannot, collect any data from any application
        built using the Tangential bootstrap project. </p>

      <p>European Union law requires that the presence of a privacy policy for sites that collect data. Other countries
        may also require such notices. </p>

      <p>Google Analytics and Google AdWords, in their terms and conditions, also require the presence of a privacy
        policy, and that the policy clearly states that the site collects data for the purposes of advertising
        (if it does(this one does)) and that the site may track visitors across multiple, non-affiliated sites.</p>

      <p>
        If you choose to use Tangential to develop a site that uses Analytics or AdWords, you must add a privacy policy.
        You may modify this one if you so choose, though we'd hardly recommend it.
      </p>

      <p>If you intend to display your site in the European Union, you must notify users of the use of Cookies. Because
        Firebase uses cookies to enable single sign-in and 'remember me' functionality, any site you build using
        Tangential will use cookies.</p>

      <p></p>

      <h2>What we collect</h2>

      <p>We require login credentials in order to allow you to access the bulk of services provided by this site. You
        are
        free to use any email provider you wish, including temporary ones (e.g. Mailinator.com).</p>

      <p>We also collect the data you enter into the demo. Because if we didn't, you'd be pretty mad when you came back
        and found out we had deleted everything you'd done. We consider this information private, but do note that
        this is a demonstration app, and we do not expect anyone to enter anything more sensitive than an email
        address. So we aren't exactly running audits on our security practices here, or background checks on
        contributors. Don't push any sensitive information into the demo app, mmm'kay?</p>

      <p>We do track site use and navigation actions in order to understand how to best focus our development and
        advertising efforts. We use Google Analytics for this service.</p>

      <h3>Cookies</h3>

      <p>Like nearly every site on the internet, we use cookies. We also use Google AdSense, which means we use 3rd
        party
        cookies that do kind of track you all over the internet. If that's a problem, today's your lucky day! You can
        fork this project on Github and remove the ads when you build your own project.</p>

      <h2>Security</h2>

      <p>Our database is hosted by Firebase. We have spent considerable time and effort ensuring that only
        authorized individuals have access to your data. This means you, and, at most, a small number of contributers
        who have been granted Administrator roles.</p>

      <p>The site is a secured site, in that we use HTTPS/SSL. In english, this means that the "conversation" between
        your computer or device and our servers is private - so long as you don't see any security warnings when the
        page
        loads. We cannot protect against poorly chosen passwords, or devices left lying around unsecured.</p>

      <h2>Lawful requests</h2>

      <p>We will honor valid, legally supportable requests for specific user data. We can't afford big lawyers, but if
        we
        receive a questionable or overly broad warrant we will request support from relevant non-profits before
        complying. </p>

      <p>We have received exactly zero requests for user data by law enforcement agencies.</p>

      <h2>Changes To This Privacy Policy</h2>
      <p>This policy is effective as of March 30th, 2017. We'll post notices on the main site in advance of any changes,
        should lawyers inform us that we haven't made this policy tedious enough.</p>

      <h2>Contact Us</h2>
      <p>If you have any questions about this Privacy Policy, please contact us <a
        href="https://github.com/ggranum/tangential"
        target="_blank">on Github</a>
      </p>

    </div>
  </div>
</tanj-page-body>
