@import '~@angular/material/theming';
@import 'sass/app-themes';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary : mat-palette($mat-indigo);
$accent : mat-palette($mat-teal);

// The warn palette is optional (defaults to red).
$warn : mat-palette($mat-red);




$tanj-font-family: Roboto, 'Helvetica Neue', sans-serif;

$tanj-light-theme-foreground: (
  base:            black,
  divider:         $black-12-opacity,
  dividers:        $black-12-opacity,
  disabled:        rgba(black, 0.38),
  disabled-button: rgba(black, 0.38),
  disabled-text:   rgba(black, 0.38),
  hint-text:       rgba(black, 0.38),
  secondary-text:  rgba(black, 0.54),
  icon:            rgba(black, 0.87),
  icons:           rgba(black, 0.87),
  text:            rgba(black, 0.87),
  link:            map-get($accent, 700)
);

$tanj-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($primary, 500),
  background: map_get($mat-grey, 50),
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
);

$app-bar: (
  height: 4em,
  background: map_get($primary, 500),
  text: map_get($primary, '500-contrast'),
  link: map_get($accent, 200)
);

$bottom-nav: (
  height: 2.5em,
  background: map_get($primary, 500),
);

$dialog: (
  background: white,
);

$forms: (
  label-font-family: $tanj-font-family,
  placeholder-font-family: $tanj-font-family
);

@function tanj-custom-light-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $tanj-light-theme-foreground,
    background: $tanj-light-theme-background,
    app-bar: $app-bar,
    bottom-nav: $bottom-nav,
    forms: $forms
  );
}


// Create the theme object (a Sass map containing all of the palettes).
$theme : tanj-custom-light-theme($primary, $accent, $warn);

// Include themed styles for core and each angular-material component used in the app.
@include angular-material-theme($theme);

// Include apply your theme to the components in your app:
@include apply-theme-to-app($theme)


