<div class="tanj-side-nav-menu-hero-container">
  <div class="tanj-side-nav-menu-hero-background"></div>
  <div class="tanj-side-nav-menu-hero-content" layout="column" layout-align="end start">
    <div class="tanj-visitor-display-name" layout="row" layout-align="start">{{visitor?.authUser?.displayName}}</div>
    <div class="tanj-visitor-username" layout="row" layout-align="start">{{visitor?.authUser?.email}}</div>
  </div>
</div>
<div class="tanj-side-nav-content" layout="column" layout-align="start">
  <nav>
    <div flex layout="row" layout-align="start">
      <a flex md-button layout="row" layout-align="start" [routerLink]="appRoutes.home.navTargets.absSelf">
        <tanj-icon ligature="home" label="Home" i18n-label></tanj-icon>
      </a>
    </div>
    <ng-container *ngIf="visitor?.isAdministrator()">
      <div class="tanj-fading-line"></div>
      <div flex layout="row" layout-align="start">
        <a flex md-button layout="row" layout-align="start" [routerLink]="['/admin']">
          <tanj-icon ligature="security" label="Admin Console" i18n-label></tanj-icon>
        </a>
      </div>
      <div flex layout="row" layout-align="start">
        <a flex md-button layout="row" layout-align="start" [routerLink]="['/admin/permissions']">
          <tanj-icon ligature="security" label="Permissions" i18n-label></tanj-icon>
        </a>
      </div>
      <div flex layout="row" layout-align="start">
        <a flex md-button layout="row" layout-align="start" [routerLink]="['/admin/roles']">
          <tanj-icon ligature="security" label="Roles" i18n-label></tanj-icon>
        </a>
      </div>
      <div flex layout="row" layout-align="start">
        <a flex md-button layout="row" layout-align="start" [routerLink]="['/admin/users']">
          <tanj-icon ligature="security" label="Users" i18n-label></tanj-icon>
        </a>
      </div>
    </ng-container>
    <ng-container *ngIf="contextMenuItems.length">
      <div class="tanj-fading-line"></div>
      <div flex *ngFor="let item of contextMenuItems" layout="row" layout-align="start">
        <ng-container *ngIf="item.routerLink">
          <a flex md-button layout="row" layout-align="start" [routerLink]="item.routerLink" [disabled]="item.disabled">
            <tanj-icon [font]="item.icon.font" [ligature]="item.icon.name" [label]="item.label" i18n-label></tanj-icon>
          </a>
        </ng-container>
        <ng-container *ngIf="item.eventHandler">
          <a flex
             md-button
             layout="row"
             layout-align="start"
             (click)="item.eventHandler($event)"
             [disabled]="item.disabled">
            <tanj-icon [font]="item.icon.font" [ligature]="item.icon.name" [label]="item.label" i18n-label></tanj-icon>
          </a>
        </ng-container>
      </div>
    </ng-container>
    <div class="tanj-fading-line"></div>
    <ng-container *ngIf="visitor?.isSignedIn()">
      <ng-container *ngIf="visitor?.isAnonymous()">
        <div flex layout="row" layout-align="start">
          <a flex md-button layout="row" layout-align="start" [routerLink]="appRoutes.home.navTargets.absSignUp()">
            <tanj-icon ligature="person_add" label="Register and save trial account" i18n-label></tanj-icon>
          </a>
        </div>
        <div flex layout="row" layout-align="start">
          <a flex md-button layout="row" layout-align="start" [routerLink]="appRoutes.home.navTargets.absSignOut()">
            <tanj-icon font="fa" ligature="trash" label="Destroy Account" i18n-label></tanj-icon>
          </a>
        </div>
      </ng-container>
      <div flex *ngIf="!visitor?.isAnonymous()" layout="row" layout-align="start">
        <a flex md-button layout="row" layout-align="start" [routerLink]="appRoutes.home.navTargets.absSignOut()">
          <tanj-icon font="fa" ligature="fa-sign-out" label="Sign Out" i18n-label></tanj-icon>
        </a>
      </div>

    </ng-container>

    <ng-container *ngIf="!visitor?.isSignedIn()">
      <div flex layout="row" layout-align="start">
        <a flex md-button layout="row" layout-align="start" [routerLink]="appRoutes.home.navTargets.absSignIn()">
          <tanj-icon ligature="verified_user" label="Sign In" i18n-label></tanj-icon>
        </a>
      </div>
      <div flex layout="row" layout-align="start">
        <a flex md-button layout="row" layout-align="start" [routerLink]="appRoutes.home.navTargets.absSignUp()">
          <tanj-icon ligature="person_add" label="Sign Up" i18n-label></tanj-icon>
        </a>
      </div>
      <div flex layout="row" layout-align="start">
        <a flex md-button layout="row" layout-align="start" (click)="onTryoutRequest()">
          <tanj-icon font="fa" ligature="thumbs-o-up" label="Try it out" i18n-label></tanj-icon>
        </a>
      </div>
    </ng-container>
  </nav>
</div>
